a {
    text-decoration: none;
    color: #fff;

}


.errorArticle {

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;

    bottom: -50px;
    width: 100%;
    height: 300px;
    z-index: 100;


}

.pErrorArticle {

    text-align: center;
    width: 20%;
    border-radius: 8px;
    background-color: #c50000;
    color: white;
}




.navbar1 {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

ul {

    margin-left: 120px;
    display: flex;
    justify-content: space-between;
    color: black;

}

.navbar-brand {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin-left: 250px;
}

/* .nav-link {
    color: black;
 
 } */


.btn-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-style: none;
    color: white;
    margin: 10px;
    padding: auto;
    margin-right: 30px;
    border-radius: 20px;
    background: linear-gradient(135.95deg, #FDC627 11.74%, #EC6907 100%);

}



.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border-style: solid;
    border-color: #EC6907;
    background-color: white;
    color: black;
    margin-left: 0px;
    margin-right: 90px;
    border-radius: 20px;
}

.btn-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: rgba(238, 112, 10, 1);
    margin-top: 20px;
    border-style: none;
    background-image: url(media/carello.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    margin-right: 250px;
}

.card1 {
    display: flex;
    width: 150vh;
    height: 415px;
    position: fixed;
    background-color: white;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 260px;
    margin-top: 50px;
}

.img-card {
    margin-bottom: 250px;
    position: absolute;
    left: 65vh;
}

.card-title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60vh;
}

.input :hover {
    border-color: #EC6907;
}

/* Card First Page*/

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60vh;
    top: 150px;
}

.subtitle-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 55vh;
    top: 200px;
    color: #EC6907;
}

.div-imput {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-input1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60px;
    top: 250px;
}

.text-input1 {
    text-align: center;
    font-weight: 400;
    font-size: large;
    margin-bottom: 120px;
    margin-left: 12px;
}

.input1 {
    display: flex;
    position: absolute;
    left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 30vh;
}

.div-input2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 400px;
    top: 250px;
}

.text-input2 {
    text-align: center;
    font-weight: 400;
    font-size: large;
    margin-bottom: 120px;
    margin-left: 18px;
}

.input2 {
    display: flex;
    position: absolute;
    left: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 30vh;
}

.div-input3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 600px;
    top: 250px;
}

.text-input3 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 120px;
    font-size: large;
    margin-left: 150px;
}

.input3 {
    display: flex;
    position: absolute;
    left: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 30vh;
}

.btn-cerca {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 120vh;
    margin-left: 30px;
    bottom: 60px;
    height: 30px;
    width: 100px;
    border-style: none;
    color: white;
    margin: 20px;
    border-radius: 20px;
    background: linear-gradient(135.95deg, #FDC627 11.74%, #EC6907 100%);
}



/* V Codice Fede V */

@media screen and (max-width: 1500px) {
    .boxVuoiVenedereQualcosa {
        margin: 20px 10px 20px 10px;
        width: 480px;
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .vendere-h2 {
        text-align: center;
    }
  }
  
.footerMenu {
    color: white;
    font-family: IBM Plex Sans, sans-serif;
    margin-top: 150px;
    margin-bottom:15px;;
}

.footerMenu:hover {
    color: #FDC627;
    font-family: IBM Plex Sans, sans-serif;
    margin-top: 150px;
    margin-bottom:15px;;
}


.boxVuoiVenedereQualcosa {
    margin: 20px 10px 20px 60px;
    width: 480px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.titoloRicercaCategoria {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;

}

.cointainerCircleIconCategory {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}


.circleIconCategoryElettronica {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #1F33E5
}

.titoloCategoriaElettronica {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 800;
    margin-left: 10px;
    color: #1F33E5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #1F33E5;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    width: 250px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titoloCategoriaElettronica:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.circleIconCategoryAbbigliamento {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #006837;
}

.titoloCategoriaAbbigliamento {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-left: 10px;
    color: #006837;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #006837;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    width: 250px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titoloCategoriaAbbigliamento:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.circleIconCategoryCasa {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #29ABE2;
}

.titoloCategoriaCasa {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-left: 10px;
    color: #29ABE2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 14px;
    border: 2px solid #29ABE2;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.titoloCategoriaCasa:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.circleIconCategoryAnimali {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #D4145A;
}

.titoloCategoriaAnimali {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-left: 10px;
    color: #D4145A;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 14px;
    border: 2px solid #D4145A;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.titoloCategoriaAnimali:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.circleIconCategorySport {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #ED1C24;
}

.titoloCategoriaSport {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-left: 10px;
    color: #ED1C24;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 14px;
    border: 2px solid #ED1C24;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.titoloCategoriaSport:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.circleIconCategoryBeauty {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #E0C121;
}

.titoloCategoriaBeauty {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-left: 10px;
    color: #E0C121;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 14px;
    border: 2px solid #E0C121;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.titoloCategoriaBeauty:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.circleIconCategoryGioielli {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #00C508;
}

.titoloCategoriaGioielli {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-left: 10px;
    color: #00C508;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 14px;
    border: 2px solid #00C508;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.titoloCategoriaGioielli:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.circleIconCategoryLibri {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #93278F;
}

.titoloCategoriaLibri {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-left: 10px;
    color: #93278F;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 14px;
    border: 2px solid #93278F;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titoloCategoriaLibri:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.circleIconCategoryFaiDaTe {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #00A99D;
}

.titoloCategoriaFaiDaTe {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-left: 10px;
    color: #00A99D;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 14px;
    border: 2px solid #00A99D;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.titoloCategoriaFaiDaTe:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.circleIconCategoryFood {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 300px;
    width: 60px;
    height: 60px;
    background-color: #ED751E;
}

.titoloCategoriaFood {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 600;
    margin-left: 10px;
    color: #ED751E;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    font-size: 14px;
    border: 2px solid #ED751E;
    border-radius: 63px;
    height: 45px;
    margin-inline: 10px;
    padding-top: 8px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.titoloCategoriaFood:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.cointainerBoxCategorie {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.iconBoxCategoria {
    margin-bottom: 6px;
    margin-right: 10px;

}

.buttonSearch {
    position: relative;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(101.43deg, #FDC627 12.64%, #EC6907 112.5%);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 15px;
    box-shadow: 0px 6px px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    border: none;
    margin-bottom: 30px;
    color: white;
    font-weight: 600;
}

.buttonSearch:hover {
    scale: 102%;
    transition: all 0.3s ease-in-out;
}

.custom-style-html {
    background: #FFFFFF;
    box-shadow: 0px 1px 12.6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.custom-style-html-lavora {
    background: #FFFFFF;
    box-shadow: 0px 1px 12.6px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;;
}

.containerImgTxtFormRicercaHome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgFormRicercaHome {
    width: 160px;
    margin: 10px;
}

.imgFormLavoraConNoi {
    height: 160px;
    margin: 10px;
}

.txtFormRicercaHome {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 800;
    margin: 10px
}

.sottotitoloFormRicercaHome {
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
    color: #ffd401;
    font-size: 18px;
    text-align: center;
    margin-inline: 10px;
}

.custom-input {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #F7F7F7;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
}

.navbar-toggler {
    background-color: transparent;
    border: none;
    color: #EE700A;

}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav .nav-link {
    text-transform: uppercase;
}

.navbar-nav .nav-link:hover {
    color: #EE700A;
}

.navbar-toggler:focus {
    color: #44200300;

}


.button_navbar_1 {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(101.43deg, #FDC627 12.64%, #EC6907 112.5%);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 15px;
    box-shadow: 0px 6px px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.button_navbar_1:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.button_navbar_1:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.button_navbar_1 span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 18px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 600;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.button_navbar_1:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}


.BtnLogout {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #EC6907;
    margin: 10px;
}


.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.textBtnLogout {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
    font-family: IBM Plex Sans, sans-serif;
}

.BtnLogout:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.BtnLogout:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.BtnLogout:hover .textBtnLogout {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.BtnLogout:active {
    transform: translate(2px, 2px);
}

.button_navbar_2 {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #ffffff00;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 15px;
    box-shadow: 0px 6px px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    border: solid 2px #EC6907;
}

.button_navbar_2:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #EC6907;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.button_navbar_2:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.button_navbar_2 span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 18px;
    color: #1f1f1f;
    font-size: 1.125em;
    font-weight: 600;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.button_navbar_2:hover span {
    color: white;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

.dropdown-menu {
    border: none;
    box-shadow: 0px 1px 12.6px rgba(0, 0, 0, 0.15);
    background-color: rgba(245, 245, 245, 0.876);
}

.BtnCarrello {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #ffd401;
    margin-top: 10px;
    margin-inline: 5px;
}

.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.textCarrello {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: "IBM Plex Sans", sans-serif;
    transition-duration: .3s;
}


.BtnCarrello:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

.BtnCarrello:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}


.BtnCarrello:hover .textCarrello {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.BtnCarrello:active {
    transform: translate(2px, 2px);
}

.navbar {
    box-shadow: 0px 1px 12.6px rgba(0, 0, 0, 0.15);
    background-color: rgb(255, 255, 255);
}

.custom-style {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.containerBottoniNavBar {
    display: flex;
    justify-content: flex-end;
}

.separatoreTastiNavBar {
    width: 2px;
    height: 40px;
    background-color: rgb(216, 216, 216);
    margin: 10px;
}

.button2 {
    position: relative;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(101.43deg, #FDC627 12.64%, #EC6907 112.5%);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 15px;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
}

.button2:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.button2:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.button2 span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 600;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.button2:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}



.BtnAccettaArticolo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: green;
    margin-right: 10px;
}


.signBtnAccettaArticolo {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.textBtnAccettaArticolo {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition-duration: .3s;
}

.BtnAccettaArticolo:hover {
    width: 200px;
    border-radius: 5px;
    transition-duration: .3s;
}

.BtnAccettaArticolo:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.BtnAccettaArticolo:hover .textBtnAccettaArticolo {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.BtnAccettaArticolo:active {
    transform: translate(2px, 2px);
}

.BtnRifiutaArticolo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(179, 44, 7);

}


.signBtnRifiutaArticolo {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.textBtnRifiutaArticolo {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition-duration: .3s;
}

.BtnRifiutaArticolo:hover {
    width: 200px;
    border-radius: 5px;
    transition-duration: .3s;
}

.BtnRifiutaArticolo:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.BtnRifiutaArticolo:hover .textBtnRifiutaArticolo {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.BtnRifiutaArticolo:active {
    transform: translate(2px, 2px);
}


.BtnContatti {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: green;
}


.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign svg {
    width: 17px;
}

.sign svg path {
    fill: white;
}

.textContatti {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition-duration: .3s;
}

.BtnContatti:hover {
    width: 200px;
    border-radius: 5px;
    transition-duration: .3s;
}

.BtnContatti:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
}

.BtnContatti:hover .textContatti {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
}

.BtnContatti:active {
    transform: translate(2px, 2px);
}

---- .containerBoxCategoria {
    display: flex;
    justify-content: center;

}

.boxCategoria {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 30px;
    background-color: #2739fd;
    border-radius: 100px;
    margin-bottom: 15px;
    margin-top: 20px
}

.iconaBoxCategoria {
    width: 25px;
    margin-left: 18px
}

.titoloBoxCategoria {
    font-family: IBM Plex Sans, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-left: 7px;
    margin-top: 6px;
    margin-right: 18px;
}

.carousel-custom {
    margin: 20px;
    background: #FFFFFF;
    box-shadow: 0px 1px 12.6px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

    justify-content: center;
}

.containerInfoProdotto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dataInfoProdotto {
    color: #EE700A;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

.titoloInfoProdotto {
    font-family: IBM Plex Sans, sans-serif;
    text-align: center;
    font-weight: 800;
}

.descrizioneInfoProdotto {
    color: #B6B6B6;
    text-align: center;
    font-size: 15px;
    margin: 10px 20px 10px 20px;
}

.prezzoInfoProdotto {
    background: linear-gradient(96.64deg, #FDC627 7.25%, #EC6907 110.91%, #666666 110.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 800;
    margin-bottom: 20px;
    font-size: 32px;
}

.containerBtnInfoProdotto {
    display: flex;
    margin-bottom: 30px;
}

.main_card_div_bg {

    background: rgba(254, 234, 174, 0.53);
    padding-top: 10px;

}


.noarticle {
    background-color: #f3e2ad;
    padding: 13px;
    height: 50px;
    color: rgb(81, 81, 81);
    border-radius: 6px;
}

/* Card Dettaglio  */

.main_card_h2_titolo {

    font-family: IBM Plex Sans, sans-serif;
    color: rgb(53, 53, 53);
    text-align: center;
    font-size: 37px;
    font-weight: 700;
    margin-top: 15px;

}

.main_card_container {

    margin-top: 60px;
    

}

.main_card_inner_container {

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2px 9.3px rgba(0, 0, 0, 0.15);
    width: 260px;
    height: 370px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative
}

.main_card_category_image_div {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #2739fd;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}






/* Card categories, "/article/category/{category_id}" pages */

.main_card_category_image_div_1 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #2739fd;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_2 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #006837;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;


}

.main_card_category_image_div_3 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #29ABE2;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_4 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #D4145A;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_5 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #ED1C24;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_6 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #E0C121;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_7 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #00C508;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_8 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #93278F;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_9 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #00A99D;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_10 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #ED751E;
    border-radius: 100px;
    position: absolute;
    position: absolute;
    top: -15px;
    margin-bottom: 15px;

}



/* Fine categories */

.main_card_category_image_div_detail_1 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #2739fd;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_detail_2 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #006837;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;


}

.main_card_category_image_div_detail_3 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #29ABE2;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_detail_4 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #D4145A;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_detail_5 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #ED1C24;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_detail_6 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #E0C121;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_detail_7 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #00C508;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_detail_8 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #93278F;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_detail_9 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #00A99D;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;

}

.main_card_category_image_div_detail_10 {

    display: flex;
    justify-content: center;
    height: 30px;
    background-color: #ED751E;
    border-radius: 100px;
    top: -15px;
    margin-bottom: 15px;

}






.main_card_category_image {

    width: 25px;
    margin-left: 18px
}

.main_card_category_image_h5 {

    font-family: IBM Plex Sans, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    margin-left: 7px;
    margin-top: 6px;
    margin-right: 18px;

}

.main_card_image_container {
    width: 250px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main_card_image {
    border-radius: 10px;
    background: white;
    margin-top: 30px;

}

.main_card_h3 {

    font-family: IBM Plex Sans, sans-serif;
    color: rgb(53, 53, 53);
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-top: 15px;

}

/* Mini_card */

.main_card_h2 {

    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    background: linear-gradient(96.64deg, #FDC627 7.25%, #EC6907 110.91%, #666666 110.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


}


.vendere-main-div {

    margin-top: 50px
}

.vendere-img {

    width: 340px;

}

.vendere-h2 {

    font-family: IBM Plex Sans, sans-serif;
    color: rgb(53, 53, 53);
    text-align: left;
    font-size: 37px;
    font-weight: 700;
    margin-top: 20px;

}

.vendere-div-1 {

    display: flex;
    margin-top: 30px;
   flex-wrap: wrap;
}

.vendere-div-colonna {

    display: flex;
    flex-direction: column;

}

.vendere-div-3 {

    display: flex;
    align-items: center;


}

.vendere-mini-img {

    width: 35px;
    margin: 10px
}

.vendere-mini-title {

    font-family: IBM Plex Sans, sans-serif;
    margin-top: 15px;
    margin-right: 20px;
    color: rgb(53, 53, 53);
    text-align: left;
    font-size: 17px;
    font-weight: 600;

}

.vendere-button {

    margin-top: 20px;
    margin-bottom: 20px;
}




.buttonCard {
    font-size: 15px;
    color: #222;
    font-family: IBM Plex Sans, sans-serif;
    font-weight: 800;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.buttonCard:focus,
.buttonCard:hover {
    color: #222;
}

.buttonCard:focus:after,
.buttonCard:hover:after {
    width: 100%;
    left: 0%;
}

.buttonCard:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #FDC627;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

#productImage {
    transition-duration: 0.5s;
}


.button1 {
    position: relative;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(101.43deg, #FDC627 12.64%, #EC6907 112.5%);
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 15px;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;

}

.button1:after {
    content: " ";
    width: 0%;
    height: 100%;
    background: #ffd401;
    position: absolute;
    transition: all 0.4s ease-in-out;
    right: 0;
}

.button1:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}

.button1 span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 1.125em;
    font-weight: 600;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}

.button1:hover span {
    color: #183153;
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}









/* Codice Fra */


body {

    font-family: IBM Plex Sans, sans-serif;
}

.div-annuncio {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 1px 12.6px rgba(0, 0, 0, 0.15);
}

.img-annuncio {
    width: 28%;
    height: 50%;
    padding-top: 2%;
}

.titolo-annuncio {
    font-family: 'IBM Plex Sans';
    color: #000000;
    font-weight: 700;;
}

.sottotitolo-annuncio {
    font-weight: 400;
    font-size: 16px;
    color: #cacaca;
}

.carousel-item {
    position: relative;
}

.remove-btn-annuncio {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}


.immagine-annuncio {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.immagine-annuncio .circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: linear-gradient(135.95deg, #FDC627 11.74%, #EC6907 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.immagine-annuncio .icon {
    font-size: 50px;
    color: white;
    padding-bottom: 3px;
}

#carica-immagine-annuncio {
    display: none;
}

#carica-immagine-annuncio~img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}


.label-annuncio {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.input-annuncio {
    font-size: 16px;
    background: #F6F6F6;
    box-shadow: -1px 1px 5.9px rgba(0, 0, 0, 0.08), inset -2px 2px 5.4px rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    border: none;
}

.input-annuncio:focus {
    border-color: linear-gradient(135.95deg, #FDC627 11.74%, #EC6907 100%);
    box-shadow: 0 0 0 0.2rem #FDC627;
}

.button-annuncio {
    background: linear-gradient(135.95deg, #FDC627 11.74%, #EC6907 100%);
    border-radius: 6px;
    border: none;
    color: white;
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    transition: transform 0.2s ease;
}

.button-annuncio:hover {
    transform: scale(1.05);
    color: white;
}
@media screen and (max-width: 1500px) {
    .boxVuoiVenedereQualcosa {
        margin: 20px 10px 20px 10px;
        width: 480px;
        height: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .vendere-h2 {
        text-align: center;
    }

    .vendere-div-1 {

        display: flex;
        justify-content: center;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .vendere-mini-title {

        font-family: IBM Plex Sans, sans-serif;
        margin-top: 15px;

        color: rgb(53, 53, 53);
        text-align: left;
        font-size: 17px;
        font-weight: 600;
    
    }
    
  }


  @media screen and (max-width: 490px) {
    .vendere-div-3 {

 
            align-items: center;
        
        
        
    }
}



/** START TRANSLATE **/
#wrapper {
    display: flex;
  }
  .ln {
    overflow: visible;
    margin-left: 20px;
    height: 30px;
  }
  .square {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #212529;

  }
  
  
  .square img {
    object-fit: cover;
    height: 100%;
  }
  
  a {
    color: white;
    text-decoration: none; 
  }
  
  .square p {
    visibility: hidden;
    position: absolute;
    z-index: 2;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    opacity: 0; 
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }
  .squared p {
  visibility: hidden;
    position: absolute;
    z-index: 2; 
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
    opacity: 0; 
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    position: absolute;
    top: 5px;
      left: 12px;
  
  }
  .square p span.language-name {
    display: none;
    white-space: nowrap;
  }
  
  .square::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    visibility: hidden; 
    opacity: 0; 
    transition: visibility 0.5s ease-in-out, opacity 0.5s ease-in-out; 
    box-shadow: rgb(255 255 255 / 84%) 0px 0px 2px 2px; 
  }
  
  .square:hover::before {
    visibility: visible; 
    opacity: 1; 
  }
  
  .square:hover p {
    visibility: visible; 
    opacity: 1; 
  }
  
  .square::before {
    z-index: 1; 
  }
  
  .goog-te-banner-frame.skiptranslate {
     display: none !important;
   } 
  
   body > .skiptranslate {
     display: none;
   }
  
  .goog-logo-link{
     display:none !important;
   }
  
   .goog-te-gadget{
      color:transparent!important;
    }
  
   #goog-gt-tt, .goog-te-balloon-frame{
      display: none !important;
     }
  
  .goog-text-highlight { 
      display: none !important;
   } 
  
  .VIpgJd-ZVi9od-l4eHX-hSRGPd{
    display: none;
  }
  body {
    top:0 !important;
  }
  
  @media only screen and (max-width: 1000px) {
    #wrapper { 
        width: 30%;
        height: auto;

    }
    .ln {
      position: fixed;
      right: 20px;
  
      transform: translateY(-50%);
      
      
     
      
    }
    .square {
      width: 8vw;
      font-size: unset;
      overflow: hidden; 
    }
    .square img {
      width: 100%;
      height: unset;
    }
    .square p {
      font-size: 14px;
    }
    .square::before {
      box-shadow: inset rgb(255 255 255 / 84%) 0px 0px 2px 2px;
    }
  }
 
  /** END TRANSALTE **/

  /* START REVISOR */

  .img-revisorPage{
    display: flex;
    width: 80%;
    height: 80%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #f5f5f5;
    margin-top: 5vh;
  }
  